*{
    margin: 0;
    padding: 0;
}

header{
    /* border-bottom: 1px solid black; */
}

a{
    /* display: block; */
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}

/* headerの編集 */
a:hover{
    opacity: 0.5;
    background-color:yellow;
}

.site{
    display: flex;
    align-items: center;
}
.site img{
    width: 80px;
    height: 100%;
    margin-left: 18px;
}
.corp{
    color: #333333;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.4;
}
.desc{
    color: gray;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.4;
}


.container{
    width: 100%;
    /* margin: 0 auto; */
    max-width: 1500px;
    height: 80px;
    margin-right: 50px;

}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

li{
    margin-left: 20px;
    border-left: 0.5px solid #000000;
    border-right: 0.5px solid #000000;
    /* margin: 0 auto; */
}

.fa-solid {
    padding: 0 5px 0 5px;
}