*{
    margin: 0;
    padding: 0;
}

a{
    /* display: block; */
    text-decoration: none;
    color: #006699;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* headerの編集 */
a:hover{
    opacity: 0.5;
    background-color:yellow;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.head-site{
    display: flex;
    align-items: center;
}
.head-site img{
    width: 80px;
    height: 100%;
    margin-left: 18px;
}
.head-corp{
    color: #00cccc;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.4;
}
.head-desc{
    color: gray;
    font-size: 15px;
    font-weight: 900;
    line-height: 0.9;
}

.head-content {
    text-align: center;
}

.head-container{
    width: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* ロゴとナビゲーションメニューをコンテナの両端に配置 */
    height: 95px;
}

.head-nav {
    margin-right: auto; /* ナビゲーションメニューを右寄せに */
}

.head-ul{
    display: flex;
    list-style: none;
    /* margin-right: 20px; */
}

.head-li{
    margin-left: 20px;
    border-left: 0.5px solid #000000;
    border-right: 0.5px solid #000000;
    /* margin: 0 auto; */
}

.fa-solid {
    padding: 0 5px 0 5px;
}