.photo {
        width: auto;
        height: 700px;
        background-image: url("../img/q&a.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center; 
}

.container {
    text-align: center;
    position: relative;
    top: 10px;
}

.container h1{
    position: relative;
    bottom: 50px;
    font-size: 50px;
}

.section-title {
    background-color: #a8ffff;
    font-size: 30px;
    font-weight: bolder;
}

.content {
    text-align: center;
    background-color: #a8ffff;
    padding: 10px;
    font-size: 18px;
}

.flow .step {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 52px;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 18px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: #a8ffff;
}

.QA {
    font-size: 18px;
}

.QA_section {
    text-align: center;
    background-color: #a8ffff;
}

.QA_title {
    text-align: center;
}

.QA_Q {
    text-align: center;
}

.QA_Q u {
    text-align: center;
    background-color: #a8ffff;
}

h3 p {
    text-align: left;
  }
  
