.photo {
        width: auto;
        height: 620px;
        background-image: url("../img/q&a.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center; 
}

.container1 {
    text-align: center;
    position: relative;
    top: 10px;
}

.container1 h1{
    position: relative;
    bottom: 10px;
    font-size: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgb(180, 176, 176);
}

.section-title {
    background-color: #a8ffff;
    font-size: 40px;
    font-weight: bolder;
}

.flow .step {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 52px;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 18px;
    margin: 0;
    padding: 50px;
    vertical-align: baseline;
    background-color: #a8ffff;
}

.QA {
    font-size: 18px;
}

.QA_section {
    text-align: center;
    background-color: #a8ffff;
    font-size: 40px;
}

.QA_title {
    text-align: center;
}

.QA_Q {
    text-align: center;
}

.QA_Q u {
    text-align: center;
    background-color: #a8ffff;
}

h3 p {
    text-align: left;
  }
  
